#place1 {
  display: none;
  margin: 10%;
  border: 2px solid gray;
  padding: 10px;
  width: 80%;
  float: left;
}

#place2 {
  display: none;
  margin: 10%;
  border: 2px solid gray;
  padding: 10px;
  width: 80%;
  float: left;
}

#place3 {
  display: none;
  margin: 10%;
  border: 2px solid gray;
  padding: 10px;
  width: 80%;
  float: left;
}

.jumbotron {
  background: url('../img/redwoods2.jpg') center center;
  background-size: cover;
  color: #FFF;
  background-color: inherit;
}

.form-control {
  width: 15%;
}

.places p {
  font-size: 1.5em;
}

h3 {
  font-style: italic;
  font-weight: bold;
}

.footer {
  text-align: center;
  margin-top: 10%;
}

img {
  float: left;
  max-width: 30%;
  margin-right: 30px;
}

@media (max-width: 992px){
  img {
    display: none;
  }
}

.questions {
  font-size: 1.25em;
  font-weight: normal;
  line-height: 1.5em;
}
